.Projects {
    margin: 0;
    padding: 10;
    background: bisque;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Projects h2 {
    margin-top: 13vh;
    margin-left: 5vw;
}

.Projects .ImageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Projects .ImageContainer .AllProjects {
    margin: 0 1rem 1rem;
    text-align: center;
}

.Projects .ImageContainer .AllProjects .ProjectTitle {
    margin: 0;
    text-align: center;
}

.Projects .ImageContainer .Images {
    height: 250px;
    width: 500px;
    padding: 1%;
    background-color: burlywood;
    display: flex;
    border-radius: 10px;
}

.Projects .ImageContainer .Images p {
    height: 250px;
    width: 250px;
    margin-left: 5px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    font-size: 1rem;
}

.Projects .ImageConatiner .Images .Picture {
    height: 250px;
    width: 250px;
}

.test {
    height: 250px;
    width: 250px;
    background: white;
    border-radius: 10px;
}

.Projects .ArrowCont {
    display: flex;
    justify-content: center;
}

.Projects .ArrowCont a {
    height: 40px;
    width: 40px;
    background: transparent;
    margin: 0;
}

.Projects .ArrowCont a .Image {
    height: 40px;
}
