.Projects {
    margin: 0;
    padding: 10;
    padding-bottom: 8vh;
    background: orange;
    /* height: 100vh; */
    position: relative;
    display: flex;
    flex-direction: column;
}

.Projects h2 {
    margin-top: 13vh;
    margin-left: 5vw;
}

.Projects .ImageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Projects .ImageContainer .Images {
    height: 250px;
    width: 500px;
    padding: 1%;
    background-color: purple;
    margin: 1.5rem 1.5rem;
    display: flex;
    border-radius: 10px;
}

.Projects .ImageContainer .Images p {
    height: 250px;
    width: 250px;
    margin-left: 2%;
    /* text-align: center; */
    font-size: 1rem;
}

.Projects .ImageConatiner .Images .Picture {
    height: 250px;
    width: 250px;
}

.test {
    height: 250px;
    width: 250px;
    background: white;
    border-radius: 10px;
}
