.About {
    margin: 0;
    padding: 0;
    background: burlywood;
    height: 90vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.About h2 {
    margin-top: 5vh;
    margin-left: 5vw;
}

.About .Conatiner {
    display: flex;
    margin: 0 10vw 15vh;
    align-items: center;

}

.About .Conatiner p {
    margin-left: 5vw;
}

.About .Conatiner .Goat {
    height: 60vh;
    right: 10%;
    border-radius: 10px;
}