.Contact {
    height: 120px;
    background: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.Contact p {
    margin: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contact .Content {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.Contact .Content .Link {
    cursor: pointer;
    color: white;
    padding: 1%;
}

.Contact .Content .Link:hover {
    cursor: pointer;
    color: black;
    padding: 1%;
}

